<div class="container">
  <div class="row justify-content-between">
    <div class="col-2 my-4">
        <%= simple_form_for(@task) do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :important %>
        <%= f.submit %>
<% end %>
    </div>
    <div class="bkg-beige col-4 p-0 my-4">
      <div class="list-title-card">
        <h2>All the tasks</h2>
      </div>
      <%= render "shared/task_list", tasks: @tasks %>
    </div>
    <div class="bkg-beige col-4 p-0 my-4">
      <div class="list-title-card">
        <h2>Important tasks</h2>
      </div>
      <%= render "shared/task_list", tasks: @important_tasks %>
    </div>
  </div>

</div>
