<h1>All the tasks</h1>
<% @tasks.each do |task| %>
  <h2><%= task.title %></h2>
  <p><%= task.description %></p>
  <%= link_to "Edit", edit_task_path(task) %>
  <%# the link has to be url, not path %>
  <%= link_to "Delete", "tasks/#{task.id}", data: { turbo_method: :delete,  turbo_confirm: "Are you sure?"} %>
<% end %>

<h2>Important tasks</h2>
<% @important_tasks.each do |task| %>
  task
<% end %>
<%= link_to "New", new_task_path %>
